
.container{
padding: 20px;
}

.draggable {
    position: absolute;
    border: 1px solid black;
    padding: 10px;
  }
  
  .title-bar {
    background-color: lightgray;
    cursor: grab;
    padding: 5px;
    border-bottom: 1px solid black;
  }
  
  .content {
    background-color: white;
    padding: 10px;
  }

  .App {
    text-align: center;
  }
  
  .draggable-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  